# Frontend
node_modules/
build/
.svelte-kit/
.env
.env.*
!.env.example
_app/

# Backend / Project
vendor/
.idea/
.vscode/
config.local.php
config2.local.php
system/cache/*
system/logs/*
system/data/*
system/php_sessions/*
plugins/*
templates/*
!plugins/example.json
!templates/index.html
!templates/kathrine/
!templates/tibiacom/
cypress.env.json
cypress/screenshots
*.log
.php-cs-fixer.cache
